@{
    ViewData["Title"] = "Test Page";
}

<div>
    <h2>
        Trying Input Methods
    </h2>

    <input type="number" class="form-control mb-2 w-25 justify-content-center" id="num1"/>
    <input type="number" class="form-control mb-2 w-25 justify-content-center"  id="num2"/>


    <button id="calculate" class="btn btn-primary justify-content-center">Calculate</button>

</div>
@section scripts
 {
<script type="text/javascript">

    //jQuery

    $("#calculate").click(function () {
        const num1 = $("#num1").val();
        const num2 = $("#num2").val();

        const sum = parseInt(num1) + parseInt(num2);

        alert(sum);
    })
    /*

    let input1 = document.getElementById("num1");
    let input2 = document.getElementById("num2");

    let sum = input1 + input2

    let calculate = document.getElementById("calculate");
    calculate.addEventListener(onclick)
    */

</script>
}